<section id="game" class="w-full overflow-hidden text-white hidden h-screen">
  <div class="w-full h-screen bg-[#00000070]">
    <div class=" md:flex justify-center items-center h-full md:space-x-6 md:pl-4 md:mx-0 p-3">

        <div id="tablegame" class="w-full h-full  bg-[#5fc76b2b] rounded-3xl">
        </div>
        <div class="h-full w-1/4 pb-10">
        <section class="flex justify-center items-center">
          <p class="pb-2 text-center md:text-2xl text-2xl font-bold"><span id="nomtaula2"></span></p>
        </section>
        <div class=" w-full h-full pb-3 bg-[#5fc76b2b] md:p-1  rounded-3xl">
          <section class="h-[85%]">
            <p class="text-center md:text-2xl text-2xl font-bold">CHAT</p>
            <ul id="messages" class="messages p-2 flex flex-col justify-end overflow-scroll overflow-x-auto h-full">
            </ul>
            <!-- <textarea id="messages" class="messages rounded-md resize- w-full h-full bg-[#5fc76b2b] p-2 text-white" disabled></textarea> -->
            <div class="flex justify-center mt-3">
              <input id="input" type="text" placeholder="Enviar missatge ..."
                class="input w-full bg-[#5fc76b2b] p-2 text-white">
              <button class="btnSelectEmoji block text-yellow bg-[#696868] hover:bg-[#868686] focus:ring-4 focus:outline-none focus:ring-[#696868] font-medium rounded-lg text-sm px-2 py-px text-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <desc>Download more icon variants from https://tabler-icons.io/i/mood-happy</desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="12" cy="12" r="9"></circle>
                  <line x1="9" y1="9" x2="9.01" y2="9"></line>
                  <line x1="15" y1="9" x2="15.01" y2="9"></line>
                  <path d="M8 13a4 4 0 1 0 8 0m0 0h-8"></path>
                </svg>
              </button>
            </div>
          </section>
        </div>
      </div>

    </div>
  </div>
</section>