<section id="game" class="w-full overflow-hidden text-white hidden h-screen">
    <div class="w-full h-screen bg-[#00000070]">
      <div class=" md:flex justify-center items-center h-full md:space-x-6 md:pl-4 md:mx-0 p-3">
        <div class="w-full h-full  bg-[#5fc76b2b] rounded-3xl ">
          <div id="playerlist" class="md:pt-10 pt-2 md:text-2xl text-xl columns-2 md:columns-1">
        </div>
        </div>
        <div class="h-full w-1/4 text-center pb-10">
        <section class="inline-flex">
          <p class="pb-2 md:text-2xl text-2xl font-bold">Taula1 #34</p>
        </section>
        <div class=" w-full h-full pb-3 bg-[#5fc76b2b] md:p-1  rounded-3xl">
          <section class="h-[85%]">
            <p class="text-center md:text-2xl text-2xl font-bold">CHAT</p>
            <ul id="messages" class="messages flex flex-col justify-end overflow-scroll overflow-x-auto h-full"></ul>
            <!-- <textarea id="messages" class="messages rounded-md resize- w-full h-full bg-[#5fc76b2b] p-2 text-white" disabled></textarea> -->
            <div class="mt-3">
              <input id="input" type="text" placeholder="Enviar missatge ..." class="input w-full bg-[#5fc76b2b] p-2 text-white">
            </div>
          </section>
        </div>
      </div>
        
      </div>
    </div>
  </section>
