<section id="lobby" class="w-full overflow-hidden text-white hidden">
    <img class="md:rotate-[140deg] md:left-0 md:top-[-257px] rotate-[140deg] left-0 top-[-100px] z-10 absolute md:w-[20%] w-[30%]" src="./images/copa1.png" alt="">
    <img class="md:rotate-[150deg] md:left-[-113px] md:top-[-119px] rotate-[150deg] left-[-42px] top-[-47px] absolute md:w-[20%] w-[30%]" src="./images/espasa1.png" alt="">      
    <div class="w-full h-screen bg-[#00000070]">
      <div class="h-1/5 flex justify-center items-end">
        <h1 class="text-4xl md:text-7xl font-bold text-center pb-5">Cinquillo</h1>
      </div>
    <div class=" md:flex justify-center items-center md:space-x-16 md:pl-48 md:mx-0 md:h-2/3 h-2/5">

      <div class="md:w-1/2 w-4/5 h-full  bg-[#5fc76b2b] p-10 rounded-3xl md:mx-0 mx-auto">
        <section class="h-4/5">
          <p class="text-center md:text-3xl text-2xl font-bold">Taula1 #<span id="coditaula"></span></p>

          <div class="md:pt-10 pt-2 md:text-2xl text-xl columns-2 md:columns-1">
            <% jugadors.forEach(function(user){ %>
              <p class="text-center p-2">·<% user %>></p>
            <% }); %>
            <p class="text-center p-2">·user1</p>
            <p class="text-center p-2">·user2</p>
            <p class="text-center p-2">·user3</p>
            <p class="text-center p-2">·user4</p>
          </div>


        </section>
        <div class="w-full flex justify-center">
          <button onclick="changetoscreen('game')" class="md:text-3xl text-2xl py-2 px-10 rounded bg-gradient-to-b from-[#53565B] to-[#262D3D] my-2 mx-auto">INICIAR</button>
        </div>

      </div>
      <div class="md:w-3/12 w-4/5 md:h-full h-[90%]  bg-[#5fc76b2b] md:p-10 p-2 rounded-3xl mx-auto md:mt-0 mt-5 md:mb-none mb-2">
        <section class="h-1/2">
          <p class="text-center md:text-3xl text-2xl font-bold">CHAT</p>
          <ul id="messages" class="messages flex flex-col justify-end"></ul>
            <div class="mt-3">
              <input id="input" type="text" placeholder="Enviar missatge ..." class="input w-full bg-[#5fc76b2b] p-2 text-white">
            </div>
    </section>        
    </div>
  </div>
  </div>
  </section>