<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../dist/output.css' />
  </head>
  <body>
    <h1 class="text-3xl font-bold underline" ><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </body>
</html>
